.idea
# Composer files
composer.phar
composer.lock
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation

# Extension Directory
ext/checkout/.temp/
ext/checkout/*.log
ext/checkout/ext/*

!ext/checkout/ext/clean
!ext/checkout/ext/config.m4
!ext/checkout/ext/config.w32
!ext/checkout/ext/ext.h
!ext/checkout/ext/ext_config.h
!ext/checkout/ext/foodhunt.c
!ext/checkout/ext/foodhunt.h
!ext/checkout/ext/install
!ext/checkout/ext/php_ext.h
!ext/checkout/ext/php_foodhunt.h
!ext/checkout/ext/kernel
!ext/checkout/ext/foodhunt

# Zephir compiler cache files.
ext/checkout/ext/foodhunt/helpers/.libs/
ext/checkout/ext/foodhunt/helpers/*.lo
ext/checkout/ext/foodhunt/libs/.libs/
ext/checkout/ext/foodhunt/libs/*.lo
ext/checkout/ext/kernel/.libs/
ext/checkout/ext/kernel/*.lo
ext/checkout/ext/kernel/*.gch
!ext/checkout/foodhunt/