.idea
# Composer files
composer.phar
composer.lock
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation

# Extension Directory
extension/checkout/.temp/
extension/checkout/*.log
extension/checkout/ext/*
extension/checkout/doc/
extension/checkout/ide/

!ext/checkout/ext/clean
!ext/checkout/ext/config.m4
!ext/checkout/ext/config.w32
!ext/checkout/ext/ext.h
!ext/checkout/ext/ext_config.h
!ext/checkout/ext/foodhunt.c
!ext/checkout/ext/foodhunt.h
!ext/checkout/ext/install
!ext/checkout/ext/php_ext.h
!ext/checkout/ext/php_foodhunt.h
!ext/checkout/ext/kernel
!ext/checkout/ext/foodhunt

# Zephir compiler cache files.
extension/checkout/ext/foodhunt/helpers/.libs/
extension/checkout/ext/foodhunt/helpers/*.lo
extension/checkout/ext/foodhunt/libs/.libs/
extension/checkout/ext/foodhunt/libs/*.lo
extension/checkout/ext/kernel/.libs/
extension/checkout/ext/kernel/*.lo
extension/checkout/ext/kernel/*.gch
!extension/checkout/foodhunt/